IMAGE_NAME=xiao806852034/avibe-container
IMAGE_TAG=latest
TZ=Asia/Shanghai
AVIBE_INSTALL_URL=https://avibe.bot/install.sh
AVIBE_LOG=/root/.avibe/avibe.log
AVIBE_UI_PORT=5123
AVIBE_UI_HOST_PORT=5123
AVIBE_UI_PROXY_LOG=/tmp/avibe-ui-proxy.log
