IMAGE_NAME=xiao806852034/avibe-container
IMAGE_TAG=latest
TZ=Asia/Shanghai
UPDATE_AI_CLI=true
UPDATE_AVIBE=true
START_AVIBE=true
AVIBE_INSTALL_URL=https://avibe.bot/install.sh
AVIBE_LOG=/root/.avibe/avibe.log
